.AL_Settings_D_MainFrame
{
    padding: 20px;
}

.AL_Settings_P_Settings
{
    color: var(--gui-color);
    font-size: 3em;
    margin-bottom: 10px;
}

.AL_Settings_HR_Settings
{
    background-color: var(--gui-color);
}